body{
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #232E26;
  font-style: normal;
}
.navbar{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  box-shadow: 0.1px 0.1px 5px black;
  height: 70px;
  backdrop-filter: blur(5px);

  background-color: rgba(240, 255, 244, 0.813);
}
.navbar-brand i{
  font-size: 1.5rem;
  margin-right: 2px;
}
.navbar-brand{
  color: green;
  align-items: center;
  display: flex;
  transition: color 0.3s ease, font-size 0.3s ease;
  cursor: pointer;
}
.navbar-links{
  display: flex;
  justify-content: space-between;
}
.navbar-links ul{

  list-style: none;
  display: flex;
}
.navbar-links li{
  font-size: 1.4rem !important;
  font-weight: 600;
  margin-left: 40px;
  color: #141E17 ;
  transition: color 0.3s ease, font-size 0.3s ease;
  cursor: pointer;

}
.navbar-links li:hover{
  font-size: 1.5rem !important;
  color: #557d62;
  
}
.navbar-brand:hover{
  font-size: 1.2rem;
}
.hero-section{
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #D5EBDA;
  margin-top: 0;
  padding-top: 50px;
  font-size: 2rem;
}
.img-hero{
  height: 450px;
  width: 500px;
  border-radius: 20px;
  background-position: center;
}
.hero-content{
  margin-top: 0;
  padding-top: 0;
  max-width: 500px;
  max-height: 500px;
}
.hero-content h1{
  margin-top: 0;
  padding-top: 0;
}
.hero-button{
  padding: 10px 50px;
  font-size: large;
  border-radius: 50px;
  background-color: #D9EFDE;
  border: none;
  transition: background-color 0.3s, color 0.3s; 
}
.features-section{
  background-color: #D9EFDE;
  height: 50vh;
  border-radius: 80px;

}
.h1-q{
  font-size: 3rem;
}
.footer-two{
  border-top: 2px solid #D9EFDE;
  width: 90vw;
  display: flex;
  color: #D5EBDA;
  justify-content: space-around;
  align-items: center;
  margin-left: 5vw !important;
  padding: 20px 0px 20px 0px;
}
.footer-two ul{
  display: flex;
  list-style: none;
}
.footer-two ul li{
  margin-left: 20px !important;
  font-size: medium;
}

.footer-one{
  text-align: left !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.address{
  flex-direction: column;
  display: flex;
  text-align: left !important;
  /* align-items: center; */
  color: #D5EBDA;
  max-width: 300px;
  padding: 20px;
}
.form{
  flex-direction: column;
  display: flex;
  color: #D5EBDA;
  
}
.address h1{
  margin: 0;
  font-size: 1.5rem;
  
}
.b-companyname{
  font-size: large;
}
.address p{
  font-weight: 200;
}
.form input{
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: medium;
  font-weight: bold;
}
.form button{
  margin-top: 5px;
  width: auto;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #D9EFDE;
  font-size: medium;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s; 
}
.footer{
  align-items: center;
  height: 400px;
}
.features-section{
  padding: 50px;
  color: #212C24;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;

}
.features-section .info{
  max-width: 700px;
  font-size: larger;
}
.features-section button{
  padding: 10px 50px;
  font-size: large;
  border-radius: 50px;
  background-color: #232E26;
  border: none;
  color: #C8DDCC;
  transition: background-color 0.3s, color 0.3s; 
}
.graphics{
  display: flex;
  
  /* align-items: center; */
}
.features-section .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* justify-content: center; */
  padding: 30px;
  max-width: 350px;
  max-height: 200px;
}
.features-section .graphics h1{
  font-size: large;
}
.card img{
  width: 250px;
  height: 200px;
  border-radius: 20px;
}
.card p{
  margin-top: 0px ;
}
.community{
  background-image: url("https://plus.unsplash.com/premium_photo-1681505195930-388c317b7a76?q=80&w=1984&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  height: 90vh;


}
.community-2{
  padding: 20px 100px;
  display: flex;
  flex-direction: column;

  font-size: 1.5rem;
  background-color: #141e17ea;
  height: 90vh;
  color: #D8EEDD;
}
.community-2 p{
  max-width: 60vw;
}
.community-2 h1{
  max-width: 60vw;
}
.community-2 button{
  padding: 10px 50px;
  font-size: large;
  border-radius: 50px;
  background-color: #D9EFDE;
  border: none;
  width: 200px;
  transition: background-color 0.3s, color 0.3s; 
}
.contact-section{
  height: 70vh;
  background-color: #D9EFDE;
  border-radius: 80px ;
  color: #141E17;
  padding: 20px 100px;
  font-size: 1.5rem;
}
.contact-section-info{
  max-width: 60vw;
}
.contact-section button{
  padding: 10px 50px;
  font-size: large;
  border-radius: 50px;
  background-color: #232E26;
  border: none;
  color: #C8DDCC;
  transition: background-color 0.3s, color 0.3s; 
}
.contact-section button:hover {
  background-color: #6f7a71;
  color: #ffffff;
}
.features-section button:hover{
  background-color: #6f7a71;
  color: #ffffff;
}
.community-2 button:hover {
  background-color: #415344;
  color: #FFFFFF; 
}
.form button:hover {
  background-color: #415344;
  color: #FFFFFF; 
}
.hero-button:hover{
  background-color: #415344;
  color: #FFFFFF; 
}
button{
  cursor: pointer;
}
a{
  text-decoration: none;
  color: #141E17;
}
a:hover{
  color: #557d62;
}
.navbar-brand a{
  color: green;
}
.about{
  padding: 50px 100px;
  display: flex;
  color: #D5EBDA;
  margin-top: 0;
  padding-top: 50px;
  font-size: 1.2rem;
  /* flex-direction: column; */
  justify-content: space-around;
  text-align: left;
  min-width: 40vw;
}
.image-about{
  /* display: flex;
  flex-direction: row; */
}