body{
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #232E26;
  font-style: normal;
}
.navbar{
  position: fixed;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  box-shadow: 0.1px 0.1px 5px black;
  height: 70px;
  backdrop-filter: blur(5px);
z-index: 1;
  background-color: rgba(240, 255, 244, 0.813);
}
.navbar-brand i{
  font-size: 1.5rem;
  margin-right: 2px;
}
.navbar-brand{
  color: green;
  align-items: center;
  display: flex;
  transition: color 0.3s ease, font-size 0.3s ease;
  cursor: pointer;
}
.navbar-links{
  /* display: flex; */
  /* justify-content: space-between; */
  position: absolute;
  right: 150px;
}
.navbar-links ul{

  list-style: none;
  display: flex;
}
.navbar-links li{
  font-size: 1.4rem !important;
  font-weight: 600;
  margin-left: 40px;
  color: #141E17 ;
  transition: color 0.3s ease, font-size 0.3s ease;
  cursor: pointer;

}
.navbar-links li:hover{
  font-size: 1.5rem !important;
  color: #557d62;
  
}
.navbar-brand:hover{
  font-size: 1.2rem;
}
.hero-section{
  padding: 100px;
  padding-top: 120px !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #D5EBDA;
  /* margin-top: 100px; */
  padding-top: 50px;
  font-size: 2rem;
}
.img-hero{
  height: 450px;
  width: 500px;
  border-radius: 20px;
  background-position: center;
}
.hero-content{
  margin-top: 0;
  padding-top: 0;
  max-width: 500px;
  max-height: 500px;
}
.hero-content h1{
  margin-top: 0;
  padding-top: 0;
}
.hero-button{
  padding: 10px 50px;
  font-size: large;
  border-radius: 50px;
  background-color: #D9EFDE;
  border: none;
  transition: background-color 0.3s, color 0.3s; 
  position: relative;
}
.features-section{
  background-color: #D9EFDE;
  height: 50vh;
  border-radius: 80px;

}
.h1-q{
  font-size: 3rem;
}
.footer-two{
  border-top: 2px solid #D9EFDE;
  width: 90vw;
  display: flex;
  color: #D5EBDA;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw !important;
  /* padding: 20px 0px 0px 0px; */
}
.footer-two ul{
  padding-left: 0;
  padding-right: 20px;
  display: flex;
  list-style: none;
}
.footer-two ul li{
  margin-left: 20px !important;
  font-size: medium;
}

.footer-one{
  text-align: left !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.address{
  flex-direction: column;
  display: flex;
  text-align: left !important;
  /* align-items: center; */
  color: #D5EBDA;
  max-width: 300px;
  padding: 20px;
}
.form{
  flex-direction: column;
  display: flex;
  color: #D5EBDA;
  
}
.address h1{
  margin: 0;
  font-size: 1.5rem;
  
}
.b-companyname{
  font-size: large;
}
.address p{
  font-weight: 200;
}
.form input{
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: medium;
  font-weight: bold;
}
.form button{
  margin-top: 5px;
  width: auto;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #D9EFDE;
  font-size: medium;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s; 
}
.footer{
  align-items: center;
  height: 400px;
}
.features-section{
  padding: 50px;
  color: #212C24;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;

}
.features-section .info{
  max-width: 700px;
  font-size: larger;
}
.features-section button{
  padding: 10px 50px;
  font-size: large;
  border-radius: 50px;
  background-color: #232E26;
  border: none;
  color: #C8DDCC;
  transition: background-color 0.3s, color 0.3s; 
}
.graphics{
  display: flex;
  
  /* align-items: center; */
}
.features-section .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* justify-content: center; */
  padding: 30px;
  max-width: 350px;
  max-height: 200px;
}
.features-section .graphics h1{
  font-size: large;
}
.card img{
  width: 250px;
  height: 200px;
  border-radius: 20px;
}
.card p{
  margin-top: 0px ;
}
.community{
  background-image: url("https://plus.unsplash.com/premium_photo-1681505195930-388c317b7a76?q=80&w=1984&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  height: 90vh;


}
.community-2{
  padding: 20px 100px;
  display: flex;
  flex-direction: column;

  font-size: 1.5rem;
  background-color: #141e17ea;
  height: 90vh;
  color: #D8EEDD;
}
.community-2 p{
  max-width: 60vw;
}
.community-2 h1{
  max-width: 60vw;
}
.community-2 button{
  padding: 10px 50px;
  font-size: large;
  border-radius: 50px;
  background-color: #D9EFDE;
  border: none;
  width: 200px;
  transition: background-color 0.3s, color 0.3s; 
}
.contact-section{
  height: 70vh;
  background-color: #D9EFDE;
  border-radius: 80px ;
  color: #141E17;
  padding: 20px 100px;
  font-size: 1.5rem;
}
.contact-section-info{
  max-width: 60vw;
}
.contact-section button{
  padding: 10px 50px;
  font-size: large;
  border-radius: 50px;
  background-color: #232E26;
  border: none;
  color: #C8DDCC;
  transition: background-color 0.3s, color 0.3s; 
}
.contact-section button:hover {
  background-color: #6f7a71;
  color: #ffffff;
}
.features-section button:hover{
  background-color: #6f7a71;
  color: #ffffff;
}
.community-2 button:hover {
  background-color: #415344;
  color: #FFFFFF; 
}
.form button:hover {
  background-color: #415344;
  color: #FFFFFF; 
}
.hero-button:hover{
  background-color: #415344;
  color: #FFFFFF; 
}
button{
  margin-top: 20px;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: #141E17;
}
a:hover{
  color: #557d62;
}
.navbar-brand a{
  color: green;
}
.about{
  padding: 50px 100px;
  display: flex;
  padding-top: 120px !important;
  color: #D5EBDA;
  margin-top: 0;
  padding-top: 50px;
  font-size: 1.2rem;
  /* flex-direction: column; */
  justify-content: space-around;
  text-align: left;
  min-width: 40vw;
}
.image-about{
  /* display: flex;
  flex-direction: row; */
}
.values-section{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #D9EFDE;
  height: 60vh;
  border-radius: 80px;
  margin-top: 0;
  padding: 50px 100px;
  color: #212C24;
  /* align-items: center; */
}
.head-value{
  font-size: 2.5rem !important;
  margin-bottom: 20px !important;
}
.icon-card img{
  width: 200px;
  border-radius: 1000px;
  transition: width 0.3s ease;
}
.icon-card img:hover {
  width: 220px; 
}
.icons{
  /* margin-top: 10px; */
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */

}
.icon-card p{
 max-height: 100px;
  max-width: 300px;
}
.icon-card{
  margin-left: 30px;
  text-align: center;
}
.values-section h1{
  margin-bottom: 0;
  padding-bottom: 0;
}
.community-book{
  background-image: url("https://images.unsplash.com/photo-1457369804613-52c61a468e7d?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  height: 95vh;
}
.images-co{
  width: 200px;
  height: 100px;
}
.co-f{
  margin-top: 10px !important;
  padding-top: 0;
  color:#75ad88;
  margin-left: 5px;
}
.team{
  background-color: #D9EFDE;
  height: 72vh;
  border-radius: 80px;
  padding: 50px 100px;
  color: #212C24;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  font-size: 1.5rem;
  flex-direction: column;
  z-index:  0;
}
.team-card{
  /* border: 2px solid black; */
  font-size: smaller;
  z-index:  0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  text-align: left;
  min-width:  300px;
  min-height: 350px;
  border-radius: 50px;
  padding: 30px;
  margin-right: 50px;
  box-shadow: #141e174e 2px 2px 2px 2px;
  transition: transform 0.3s ease;
  margin-top: 0;
}

.team-card:hover {
  transform: scale(1.05); 
}
.team-card h1 ,h2, p{
  margin: 0;
  padding: 0;
}
.team-card h2{
  font-size: smaller;
}
.team-card p{
  font-size: smaller;
}
.team-card img{
  width: 120px;
  height: 120px;
}
.cards{
  z-index:  0;
  display: flex;
  flex-direction: row !important;
}
.page-team-1{
  z-index:  0;
  margin-top: 0;
  display: flex;
  align-items: center;
  padding: 50px;
  /* flex-direction: row; */
  padding-top: 10px;
}
.button-position{
  padding: 10px 50px;
  font-size: large;
  border-radius: 50px;
  background-color: #232E26;
  border: none;
  color: #C8DDCC;
  transition: background-color 0.3s, color 0.3s; 
}
.button-position:hover{
  background-color: #6f7a71;
  color: #ffffff;
}
@media screen and (max-width: 998px){
  h1{
    font-size: 2.5rem;
  }
  p{
    font-size: 1.5rem;
  }
  .hero-section{
    padding: 20px;
    flex-wrap: wrap;
    gap: 1rem;
    
  }
  .img-hero{
    margin-top: 50px;
  }
  .navbar{
    /* flex-wrap: wrap; */
    width: 100vw;
  }
  .features-section{
    flex-wrap: wrap;
    width: 250px;
    border-radius: 30px;
    margin: 20px;
    height: 190vh;
    position: relative;
    flex-direction: row;
  }
  
  .features-section .info{
    max-width: 200px;
    position: absolute;
    font-size: medium;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
  }
  .features-section button{
    padding: 10px 50px;
    font-size: large;
    border-radius: 50px;
    background-color: #232E26;
    border: none;
    color: #C8DDCC;
    transition: background-color 0.3s, color 0.3s; 
  }
  .graphics{
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 50px;
    position: absolute;
    margin-top: 40vh;
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    flex-direction: row;
    /* align-items: center; */
  }
  .features-section .card{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 200px;
    max-height: 200px;
    font-size: x-small !important; 
    margin-top: 120px;
  }
  .features-section .graphics h1{
    font-size: medium;
  }
  .features-section .card p{
    font-size: small;
    max-width: 250px;
  }
  .card img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
  }
  .footer{
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
    /* padding: 10px 10px; */
    justify-content: center;
  }
  .footer-one{
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 300px;
    justify-content: center;
    text-align: center;
  }
  .community-2  , p{
    font-size: 0.8rem;
    /* text-align: left; */
    text-align: c;
    width: 400px;
  }
  .community-2{
    padding: 5px 30px;
    width: 90vw;
    height: 170vh;

  }
  .contact-section-info{
    width: 300px !important;
    flex-wrap: wrap;
    padding: 5px 20px;
  }
  .contact-section{
    margin-top: 100px;
    flex-wrap: wrap;
    height: 80vh;
    padding: 5px 20px;
    border-radius: 50px;
  }
  .contact-section-info p{
    width: 300px;
    font-size: medium;
  }
  .contact-section-info h1{
    font-size: 2rem;
  }
  .footer-two{
    flex-wrap: wrap;
  }
  .footer-one{
    flex-wrap: wrap;
    margin-left: 15px;
  }
  .footer-one .form{
    margin-left: 50px;
    font-size: 2rem;
    text-align: center;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer-one button{
    width: 250px;
  }
  .navbar{
    width: 90vw;
  }
  .values-section{
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px 10px;
    border-radius: 50px;
    height: 210vh;
    
  }
  .values-section .icons{
    flex-direction: row;
    display: flex;
    
    flex-wrap: wrap;
  }
  .values-section .icons .icon-card p{
    font-size: 1rem;
  }
  .values-section .icons .icon-card{
    margin-bottom: 70px;
    margin-top: 20px;
  }
  .values-section .head-value{
    padding: 0 !important;
    /* font-size: smaller !important; */
  }
  .info-about{
    padding: 5px 10px;
    width: 550px;
    justify-content: center;
  }
  .info-about p{
    font-size: 1rem;
    width: 350px;
  }
  .about{
    padding: 5px 10px;
  }
  .community-book p{
    font-size: 1rem;
    width: 300px;
   
  }
  .community-book{
    height: 120vh;

  }
  .team{
    padding: 5px 10px;
    border-radius: 50px;
  }
  .image-about{
    display: none;
  }
  .navbar-links{
    display: none;

  }
  .navbar-brand{
    /* padding: 20px; */
   margin-left: -20px; 
    
  }
 
}
